@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,600;1,300 & display=swap');

:root {
    --white-ligth: #FAF7FD;
    --purple: #BB99DD;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }
.avatar{
    display: flex;
   justify-content: center;
}
a{
   display: flex;
   justify-content: center;
   margin-top: 15px;
   color: var(--purple);
}
nav{
    display: flex;
    justify-content: center;
    
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 17px;
    color: #BB99DD;
}
li{
    margin-top: 16px;
    width: 325px;
    border: 2px solid var(--purple);
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}
.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twitter{
    margin: 12px;
}
.twitch{
    margin: 12px;
}
.instagram{
    margin: 12px;
}
.linkedin{
    margin: 12px;
}
.github{
    margin: 12px;
}
